@keyframes shadow-pulse {
    0% {
        box-shadow: -5px -5px 0 0px rgba(101, 213, 126, 0.2);
        border-radius: 1000px;
    }
    100% {
        box-shadow: -5px -5px 0 35px rgba(101, 213, 126, 0.0);
        border-radius: 1000px;
    }
}
.slide-enter-active, .slide-leave-active  {
    transition: all .6s ease;
  }
  .slide-enter, .slide-leave-to
  {
    transform: translateY(-100%);
    opacity: 0;
  }