// Color definitions
$backgroundColor: #082334;
$titleColor: #082334;
$white: #ffffff;
$green: #65D57E;
$red: #E25555;
$darkContrast: #061A27;
$tickBox: #E8E8E8;
// Priority colors
$lowPriority: #808080;
$midPriority: #E29155;
$highPriority: #E25555;